In [20]:
import pandas as pd
from sklearn.model_selection import train_test_split
from konlpy.tag import Mecab

# Step 4. 네이버 영화리뷰 감정 분석 문제에 SentencePiece 적용해 보기
[네이버 영화리뷰 감정 분석 테스크](https://github.com/e9t/nsmc/)

In [8]:
file_path = './data/ratings.txt'
df = pd.read_csv(file_path, delimiter = '\t', index_col = 'id')
df = df.sample(frac = 1, random_state = 526).reset_index(drop = True)

display(df.head())

                                            document  label
0          네이버는 왜 0점이 안되지???영화같지도않아서 일본배우밖에 출연안한다든 ?      0
1  두콤비 어울리네. 원맨쇼 존트라볼타의 액션신이 조금 오글하기도 하지만 그럭저럭 코믹...      1
2                                       f이것도 영화라고 ㅋㅋ      0
3    아직 반년 남긴 했지만...인현왕후의 남자는 의심할 여지없는 올해 최고의 드라마!!!      1
4                                       평점이 너무 높다...      0

trainset 0.8, validationset 0.1, testset 0.1

In [13]:
train_df, temp_df = train_test_split(df, test_size = 0.2, random_state = 526)
validation_df, test_df = train_test_split(temp_df, test_size = 0.5, random_state = 526)

# 각 데이터셋의 크기 확인
print(f"Train dataset size: {len(train_df)}")
print(f"Validation dataset size: {len(validation_df)}")
print(f"Test dataset size: {len(test_df)}")

# 데이터셋 확인 (옵션)
display(train_df.head())
display(validation_df.head())
display(test_df.head())

Train dataset size: 160000
Validation dataset size: 20000
Test dataset size: 20000

                                                document  label
10331                             엄청 흥미진진했어요~ 엄청 재밌어엇어요~      1
30235                     정말 많이 울었어요 마지막에 정말 감동이에요 꼭 보세요      1
70338                                      보고또보고싶은영화네요^^      1
93694  나 직장인이다. 학생들 이거보고 영화가 그렇지 뭐 이렇게 생각하지 마라. 이 영화 ...      1
61716                                       갈수록 지겨워졌음...      0

                                                 document  label
190652                        투명인간. 누구나 한번쯤 행각해봤을 그것. 대작.      1
180462  1을 안보려고 하다가 그나마 본거 돌프룬드그렌 때문인데 룬드그렌이 안나오면 안봐도 뻔할뻔      0
74650   너무 현실적이어서 많이 놀랬다. 영화를보고 깨달은게 있다면 사랑엔 분명 책임이 존재...      1
61907                채널돌리다가잠깐잠깐지나치면서느낀건데,..이채영연기왜그래? M이냐?      0
143639              왕가위 감독 빼고 정말 이해 할 수 없는 영화들... ㅉㅉ 이상해~      0

                                        document  label
113790  글쎄 .. 배우들이 연기를 못하는건가 아님 원래 내용이 재미없는건가 ??      0
152643                                  더보고싶은드라마      1
149529           즐거웠습니다. 굿을 한 번 보고 싶다는 생각이 들 정도로      1
42002                  감명깊게 본 영화중의 하나에요 화면도 이쁘구요      1
198812                     개봉때보고 신선한 충격 최고임 재밌었음      1

## Mecab, SentencePiece 비교
쉬운 비교를 위해 워드클라우드 사용.

In [18]:
# mecab 설치
# https://heytech.tistory.com/395
# !pip install konlpy
# !bash <(curl -s https://raw.githubusercontent.com/konlpy/konlpy/master/scripts/mecab.sh)

In [21]:
mecab = Mecab()
def mecab_split(sentence):
    return mecab.morphs(sentence)
train_df['mecab_tokens'] = train_df['document'].apply(mecab_split)

train_df.head()

Exception: Install MeCab in order to use it: http://konlpy.org/en/latest/install/

## MeCab을 이용한 tokenize, model 생성

max_length를 정하기 위해 token 개수 확인

## SentencePiece를 이용한 tokenize, model 생성